#nav {
  background-color: $primary-color;
  position: relative;
  top:0;
  width: 100%;
}

#campaign-profile {
  padding: 2% 0;
}

  .name {
  padding: 2% 0;
  }
  
  .contact li {
  padding: 2% 0;
  }

  .mission {
  padding: 2% 0;
  }
  
  .mission h4 {
    color: $primary-color; 
  }

  #about-org {
  padding: 2% 0;
  background-color: #dce0e0;

  }

