#nav-campaign {
  background-color: $primary-color;
  position: relative;
  top:0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;  
  vertical-align: middle;
 
  p a {
    font-size: .8rem;
    color: #fff;
  }


.menu  {
  float:right;
  vertical-align: middle;
}

  .button-signup {
    @extend .button;
    background-color: $alert-color;

      p {
        font-size: .8rem;
      } 
  }

}

#campaign-profile {
  padding: 2% 0;
}

  .name {
  padding: 2% 0;
  }
  
  .contact li {
  padding: 2% 0;
  }

  .mission {
  padding: 2% 0;
  }
  
  .mission h4 {
    color: $primary-color; 
  }

  #about-org {
  padding: 2% 0;
  background-color: #dce0e0;

  }

