// Nav Bar

#nav-campaign {
  background-color: $primary-color;
  position: relative;
  top:0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;  
  vertical-align: middle;
 
  p a {
    font-size: .8rem;
    color: #fff;
  }


.menu  {
  float:right;
  vertical-align: middle;
}

  .button-signup {
    @extend .button;
    background-color: $alert-color;

      p {
        font-size: .8rem;
      } 
  }

}


// Campaign Panel

#title {
  padding: 2% 0;
}

#Campaign-info {
  padding: 2% 0;
}

#campaign-profile {
  padding: 3% 0;
}

#stats-summary ul li{
  padding: 1% 0;

}

#button-donate {
  @extend .button;
  margin-top: 8%;
  background-color: $primary-color;

    h4 {
      color: #fff;
    }

}

  .name {
  padding: 2% 0;
  }
  
  .contact li {
  padding: 1% 0;
  }

  .mission {
  padding: 2% 0;
  }
  
  .mission h4 {
    color: $primary-color; 
  }

  #about-org {
  padding: 2% 0;
  background-color: #dce0e0;

  }

//footer

footer {
  background-color: $secondary-color;


    .footer-menu {
      padding: 1% 4%;
    }

    p {
      color: #fff;
      font-size: .90rem;
      line-height: .90;
    }

    h6 {
      color: #fff;
      line-height: 2;   }

    i {
      color: #fff;
    }

    .connect {
      text-align: center;
    }

    .copyright {
      color: #fff;
      font-size: .80rem;
      padding: 2% 4%;
      text-align: center;
    }    
}
